<div class="container">

    <div>
        <form [formGroup]="addEventForm" (ngSubmit)="submitEvent()">

            <div class="addWrapper">

                <mat-form-field style="width: 10%;">
                    <mat-label>Grad</mat-label>
                    <mat-select [formControl]="addEventForm.controls.cities$">
                        <mat-option *ngFor="let city of cities$ | async" [value]="city.cityName">
                            {{city.cityName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="inputData4">
                    <input matInput type="text" [formControl]="addEventForm.controls.event"
                        placeholder="Naziv događaja">
                </mat-form-field>

                <mat-form-field class="filterDate">
                    <mat-label>Datum početka</mat-label>
                    <input matInput [ngxMatDatetimePicker]="picker3"
                        [formControl]="addEventForm.controls.eventStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker3></ngx-mat-datetime-picker>
                </mat-form-field>

                <mat-form-field class="filterDate">
                    <mat-label>Datum kraja</mat-label>
                    <input matInput [ngxMatDatetimePicker]="picker4" [formControl]="addEventForm.controls.eventEndDate">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker4></ngx-mat-datetime-picker>
                </mat-form-field>

                <mat-form-field style="width: 14%; margin-top: -5px;">
                    <mat-slide-toggle [formControl]="addEventForm.controls.freeEntrance" class="toggle"
                        [checked]=checked>Slobodan ulaz
                    </mat-slide-toggle>
                    <textarea matInput hidden></textarea>
                </mat-form-field>

                <button mat-raised-button class="addButton" type="submit">Spremi</button>

            </div>

            <table mat-table [dataSource]="dataSourceEvents" matSort class="tableData">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%;"> Naziv događaja </th>
                    <td mat-cell *matCellDef="let element">
                        <input matInput [value]="element.name" [(ngModel)]="element.name" [ngModelOptions]="{standalone: true}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="startTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;"> Početak </th>
                    <td mat-cell *matCellDef="let element">                                                 
                        <input matInput [value]="element.startTime | date:'dd. MMM, yyyy. @ HH:mm'" style="padding-top: 10px;"> 
                            <input matInput  
                                [ngxMatDatetimePicker]="picker5" [(ngModel)]="element.startTime" 
                                [ngModelOptions]="{standalone: true}" style="display: none;">
                        <mat-datepicker-toggle matSuffix [for]="picker5" style="margin-left: 50px;"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker5></ngx-mat-datetime-picker>
                    </td>
                </ng-container>

                <ng-container matColumnDef="endTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;"> Kraj </th>
                    <td mat-cell *matCellDef="let element"> 
                        <input matInput [value]="element.endTime | date:'dd. MMM, yyyy. @ HH:mm'" style="padding-top: 10px;"> 
                        <input matInput  
                                [ngxMatDatetimePicker]="picker6" [(ngModel)]="element.endTime" 
                                [ngModelOptions]="{standalone: true}" style="display: none;">
                        <mat-datepicker-toggle matSuffix [for]="picker6" style="margin-left: 50px;"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker6></ngx-mat-datetime-picker>
                    </td>
                </ng-container>

                <ng-container matColumnDef="freeEntrance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 9%;"> Slobodan ulaz </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 30px;">
                        <input matInput [value]="element.freeEntrance" [ngModel]="element.freeEntrance | yesNo"
                            (ngModelChange)="element.freeEntrance=$event" [ngModelOptions]="{standalone: true}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;"> Grad </th>
                    <td mat-cell *matCellDef="let element">
                        <input matInput [value]="element.city" [(ngModel)]="element.city" [ngModelOptions]="{standalone: true}">                         
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="accent" type="button"
                            (click)="editEvent(element)">Uredi</button>
                        <button mat-raised-button class="deleteButton" (click)="deleteEvent(element)">Izbriši</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsEvents"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsEvents;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

        </form>
    </div>

    <div class="container" style="height: 50px; background-color: white; width: 130%; margin-left: -15px;"></div>

    <div>
        <form [formGroup]="addCityForm" (ngSubmit)="submitCity()">

            <div class="addWrapper">

                <mat-form-field style="width: 20%;">
                    <mat-label>Županija</mat-label>
                    <mat-select [formControl]="addCityForm.controls.counties$">
                        <mat-option *ngFor="let county of counties$ | async" [value]="county">
                            {{county}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="inputData2">
                    <input matInput type="text" [formControl]="addCityForm.controls.city" placeholder="Naziv grada">
                </mat-form-field>

                <mat-form-field style="width: 10%;">
                    <mat-label>Veličina</mat-label>
                    <mat-select [formControl]="addCityForm.controls.size">
                        <mat-option>- -</mat-option>
                        <mat-option *ngFor="let size of sizeValues" [value]="size.viewValue">
                            {{size.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 12%; margin-top: -5px;">
                    <mat-slide-toggle [formControl]="addCityForm.controls.active" class="toggle">Grad aktivan
                    </mat-slide-toggle>
                    <textarea matInput hidden></textarea>
                </mat-form-field>

                <button mat-raised-button class="addButton" type="submit">Spremi</button>

            </div>

            <table mat-table [dataSource]="dataSourceCities" matSort class="tableData">

                <ng-container matColumnDef="cityId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{ element.cityId }} </td>
                </ng-container>

                <ng-container matColumnDef="cityName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%;"> Naziv grada </th>
                    <td mat-cell *matCellDef="let element"> 
                        <input matInput [value]="element.cityName" [(ngModel)]="element.cityName" [ngModelOptions]="{standalone: true}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="sizeValue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;"> Veličina </th>
                    <td mat-cell *matCellDef="let element">                         
                        <input matInput [value]="element.sizeValue" [(ngModel)]="element.sizeValue" [ngModelOptions]="{standalone: true}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 9%;"> Aktivan </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 15px;"> 
                        <input matInput [value]="element.active" [ngModel]="element.active | yesNo" (ngModelChange)="element.active=$event"
                        [ngModelOptions]="{standalone: true}">
                        </td>
                </ng-container>

                <ng-container matColumnDef="organizationUnit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"> Županija </th>
                    <td mat-cell *matCellDef="let element"> 
                        <input matInput [value]="element.organizationUnit" [(ngModel)]="element.organizationUnit" [ngModelOptions]="{standalone: true}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="accent" type="button" (click)="editCity(element)" >Uredi</button>
                        <button mat-raised-button class="deleteButton" (click)="deleteCity(element)">Izbriši</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsCities"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCities;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

        </form>
    </div>

    <div class="container" style="height: 50px; background-color: white; width: 130%; margin-left: -15px;"></div>

    <div>
        <form [formGroup]="addCountyForm" (ngSubmit)="submitCounty()">

            <div class="addWrapper">

                <mat-form-field style="width: 10%;">
                    <mat-label>Tip jedinice</mat-label>
                    <mat-select [formControl]="addRegionForm.controls.regionType">
                        <mat-option *ngFor="let region of regionTypes" [value]="region.value"
                            [disabled]="region.viewValue === 'REGIJA'">
                            {{region.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 15%;">
                    <mat-label>Regija</mat-label>
                    <mat-select [formControl]="addCountyForm.controls.regions$">
                        <mat-option *ngFor="let region of regions$ | async" [value]="region">
                            {{region}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="inputData3">
                    <input matInput type="text" [formControl]="addCountyForm.controls.county"
                        placeholder="Naziv županije">
                </mat-form-field>

                <mat-form-field class="inputData4">
                    <input matInput type="text" [formControl]="addCountyForm.controls.description" placeholder="Opis">
                </mat-form-field>

                <button mat-raised-button class="addButton" type="submit">Spremi</button>

            </div>

            <table mat-table [dataSource]="dataSourceCounties" matSort class="tableData">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"> Naziv županije </th>
                    <td mat-cell *matCellDef="let element"> 
                        <input matInput [value]="element.name" [(ngModel)]="element.name" [ngModelOptions]="{standalone: true}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 28%;"> Opis </th>
                    <td mat-cell *matCellDef="let element"> 
                        <input matInput [value]="element.description" [(ngModel)]="element.description" [ngModelOptions]="{standalone: true}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="organizationalUnit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 26%;"> Regija </th>
                    <td mat-cell *matCellDef="let element"> 
                        <input matInput [value]="element.organizationalUnit" [(ngModel)]="element.organizationalUnit" [ngModelOptions]="{standalone: true}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="accent" type="button" (click)="editCounty(element  )">Uredi</button>
                        <button mat-raised-button class="deleteButton" (click)="deleteCounty(element)">Izbriši</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsCounties"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCounties;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

        </form>
    </div>

    <div class="container" style="height: 50px; background-color: white; width: 130%; margin-left: -15px;"></div>

    <div>
        <form [formGroup]="addRegionForm" (ngSubmit)="submitRegion()">

            <div class="addWrapper">

                <mat-form-field>
                    <mat-label>Tip jedinice</mat-label>
                    <mat-select [formControl]="addRegionForm.controls.regionType">
                        <mat-option *ngFor="let region of regionTypes" [value]="region.viewValue"
                            [disabled]="region.viewValue === 'ŽUPANIJA'">
                            {{region.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="inputData">
                    <input matInput type="text" [formControl]="addRegionForm.controls.region"
                        placeholder="Naziv regije">
                </mat-form-field>

                <mat-form-field class="inputData2">
                    <input matInput type="text" [formControl]="addRegionForm.controls.description" placeholder="Opis">
                </mat-form-field>

                <button mat-raised-button class="addButton" type="submit">Spremi</button>

            </div>

            <table mat-table [dataSource]="dataSourceRegions" matSort class="tableData">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 37%;"> Naziv regije</th>
                    <td mat-cell *matCellDef="let element"> 
                        <input matInput [value]="element.name" [(ngModel)]="element.name" [ngModelOptions]="{standalone: true}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 42%;"> Opis </th>
                    <td mat-cell *matCellDef="let element"> 
                        <input matInput [value]="element.description" [(ngModel)]="element.description" [ngModelOptions]="{standalone: true}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="accent" type="button" (click)="editRegion(element)">Uredi</button>
                        <button mat-raised-button class="deleteButton" (click)="deleteRegion(element)">Izbriši</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsRegions"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsRegions;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

        </form>
    </div>

    <div class="container" style="height: 50px; background-color: white; width: 130%; margin-left: -15px;"></div>

</div>